<div id="login">
    <div class="alert alert-error ">
        <p>
            <strong>Oops!</strong>
            Your username or password were incorrect. Please expect a visit from Tazer Cat.
        </p>
    </div>

    <div class="alert alert-success">
        <img src=http://placedog.com/400/300 class="interview-success"/>
    </div>

    <fieldset>
        <div><span>Name: <input class ="username" type="text" placeholder="name"/></span></div>
        <div><span>Password: <input class ="password"  type="password" placeholder="password"/></span></div>
        <div><span> <input type="submit" class="submit" value="Log in"/></span></div>
    </fieldset>
</div>
